@font-face {
	font-family: "CreamPeach";
	src: url(../police/cream-peach.ttf);
}

body {
	margin: 0;
	font-family: 'CreamPeach';
}

/* Tout sauf footer */
#AllDaveOptions {
	display: flex;
	flex-wrap: nowrap;
}


/* -------- ESPACE VISUEL A GAUCHE AVEC ANIMATIONS -------- */

/* Tous les blocs partie gauche */
#DaveCompteurs {
	width: 40vw;
	height: 94vh;
}

/* Image Dave */
#Dave {
	width: 40vw;
	height: 86vh;
	background-image: url(../images/DaveV04.png);
	background-size: cover;
	background-position: center;
	display: flex;
}

/* Bouton à cliquer */
#clicker {
	z-index: 1;
	width: 120px;
	position: absolute;
	bottom: 32vh;
	left: 17vw;
}

#clicker:active {
	content: url(../images/hublot2.png);
}

/* Compteurs */
#Compteurs {
	background-color: #F69B52;
	background-image: url(../images/bandeau.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 40vw;
	height: 8vh;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

#Compteurs p {
	margin: 0;
	font-size: 25px;
}


/* -------- OPTIONS A UPGRADER EN HAUT A DROITE -------- */

h1 {
	font-size: 35px;
	margin-top: 15px;
	margin-bottom: 10px;
	text-align: center;
	color: #D3D3D3;
}

h2{
	font-weight: normal;
	font-size: 20px;
	font-family: Calibri;
	margin: 0;
}

/* Bloc AllOptionUP & AllOptionsPonc */
#AllOptions {
	width: 60vw;
	height: 94vh;
	display: flex;
	flex-direction: column;
	padding-left: 10px;
	background-image: url(../images/back2.jpg);

}

/* Bloc de toutes les options à upgrader */
#AllOptionUp {
	height: 60vh;
}

/* Tableau OptionUp */

#TableOptionUp, #TableOptionsPonc {
	border-collapse:collapse;
	width: 98%;
}

#visuelUp {
	width: 100%;
}

tbody td {
	text-align: center;
	padding: 0;
	width: 10%;
}

#ligneVide {
 height : 10px;
}

/* Images des OptionUp */
#Visuels {
	height: 50px;
	width: 50px;
}

/* Boutons des OptionUp */

#Niveaux {
	height: 20px;
	margin-bottom: 10px;
}

#Niveaux td button {
	background-color: #EE592B;
	background-image: url(../images/larme.png);
	background-repeat: no-repeat;
	background-position: 5px center;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: "CreamPeach";
	font-size: 16px;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
}

#Niveaux td button:disabled {
	background-color: grey;
	color: black;
}

#Niveaux td button p {
	margin: 0;
}

#niveauUp1, #niveauUp2, #niveauUp3, #niveauUp4, #niveauUp5, #niveauUp6, #niveauUp7, #niveauUp8 {
	font-size: 30px;
	background-color: #D3D3D3;
}

#OptionUp1, #OptionUp2, #OptionUp3, #OptionUp4, #OptionUp5, #OptionUp6, #OptionUp7, #OptionUp8 {
	padding-left: 30px;
}

/* -------- OPTIONS PONCTUELLES EN BAS A DROITE -------- */

/* Bloc de toutes les options ponctuelles */
#AllOptionPonc {
	height: 40%;
}


/* Boutons des OptionPonc */

#NiveauxPonc {
	height: 5vh;
	width: 15vh;
}

#NiveauxPonc td button {
	background-color: #23AD93;
	background-image: url(../images/larme.png);
	background-repeat: no-repeat;
	background-position: 5px center;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	height: 100%;
	font-family: "CreamPeach";
	font-size: 16px;
}

#NiveauxPonc td button:active {
	background-color: orange;
}

#NiveauxPonc td button:disabled {
	background-color: grey;
	color: black;
}

/* ------------------------ TOOLTIP ------------------------ */

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: auto;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-family: 'Calibri';
  padding: 10px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}


/* -------------------- CARTES MYSTERE -------------------- */
​
/* The Modal (background) */
	#ModalCarteMyst1, #ModalCarteMyst1, #ModalCarteMyst2, #ModalCarteMyst3, #ModalCarteMyst4, #ModalCarteMyst5, #ModalCarteMyst6 {
		display: none; /* Hidden by default */
		position: fixed; /* Stay in place */
		left: 7vw;
		top: 4vw;
		width: 25vw; /* Full width */
		height: auto; /* Full height */
		overflow: auto; /* Enable scroll if needed */
		background-image: url(../images/background-modale.png) !important; /* Fallback color */
		padding: 20px;
	}
	​
/* Modal Content/Box */
	.modal-content {
		margin: 15% auto; /* 15% from the top and centered */
		padding-right: 20px;
		padding-left: 20px;
		border: 1px solid #888;
		width: 30%; /* Could be more or less, depending on screen size */
	}
	​
/* The Close Button */
	.close {
		float: right;
		font-size: 28px;
		font-weight: bold;
	}
	​
	.close:hover,
	.close:focus {
		text-decoration: none;
		cursor: pointer;
	}

/* Images Modal*/

#imgModal {
	width: 300px;
	text-align: center;
	padding-top: 10px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}


/* --------------------- FOOTER --------------------- */

footer {
	width: 100vw;
	height: 6vh;
	background-color: black;
	color: white;
	font-family: 'Calibri';
	font-size: 15px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

footer p {
	margin: 0;
	padding-left: 20px;

}

footer img {
	height: 30px;
	margin-right: 30px;
}

footer a {
	color: white;
}
