body{
	font-family: 'Source Sans Pro', sans-serif;
	background-image: url(Motif-fond-cv.png);
}


/*Titres */

h1{
	text-transform: uppercase;
	padding: 15px;
}

h2{
	font-family: 'Josefin Sans', sans-serif;
	padding-top: 10px;
	font-weight: bold !important;
	
}

h3{
	font-size: large !important;
	color: #595954;
	padding-top: 15px;
	font-weight: bold !important;
}

h4{
	font-size: medium !important;
	color: #595954;

}

/* Menu Haut */

.header{
	border: solid 8px #fee7f0;
	background-color: white;
	height: 100px;
	max-width: 1140px;
}

.menu{

	
}

.menu a {
	color: black;
	text-decoration: none;
	padding: 0 15px;
	font-size: 20px;


}

.menu a:hover {
	color: grey;
	text-decoration: none;
	
	
}

/*Titre du Site*/

#TitreSite{
	background-color: #fee7f0;
	font-family: 'Josefin Sans', sans-serif;
	height: 85vh;
	
}

.TitreSiteContact{
	

}




/*Parties de présentation*/

#Compétences{
	background-color: white;
	border: solid 8px #fee7f0;
	padding: 10px;
}

#Formations{
	background-color: white;
	border: solid 8px #fee7f0;
	padding: 10px;
}

#ExpériencesPro{
	background-color: white;
	border: solid 8px #fee7f0;
	padding: 10px;
}

#Contact{
	background-color: white;
	border: solid 8px #fee7f0;
	padding: 10px;
}

.ReseauxSociaux a {
	color: black;
	text-decoration: none;
	font-size: 25px;
}

.ReseauxSociaux a:hover {
	color: grey;
	text-decoration: none;
	font-size: 25px;
}
