#AllDaveOptions {
	display: flex;
	flex-wrap: nowrap;
}

#AllOptions {
	display: flex;
	flex-direction: column;
}

h1 {
	font-family: 'Arial';
}


/* ESPACE VISUEL A GAUCHE AVEC ANIMATIONS */

#Dave {
	width: 40vw;
	height: 90vh;
	border:solid 1px red;
	background-image: url(../images/DaveV01.png);
	background-size: cover;
	background-position: center;
	z-index: 3;

}

#clicker {
	color: red;
	z-index: 1;
}

#CompteurLarmes {
	font-family: 'Arial';
	z-index: 2;
}


/* OPTIONS A UPGRADER EN HAUT A DROITE */

#AllOptionUp {
	width: 60vw;
	height: 60vh;
	border: solid 1px blue;
}

#OptionUp1, #OptionUp2, #OptionUp3, #OptionUp4, #OptionUp5, #OptionUp6, #OptionUp7, #OptionUp8 {

}


/* OPTIONS PONCTUELLES EN BAS A DROITE */

#AllOptionPonc {
	width: 60vw;
	height: 30vh;
	border: solid 1px orange;
}

#OptionPonc1, #OptionPonc2, #OptionPonc3, #OptionPonc4 {

}


/* CARTES MYSTERE */




/* FOOTER */

footer {
	width: 100vw;
	height: 10vh;
	border:solid 1px green;
}